.body-2{
    padding: 6px;
    position: relative;
    background-color: #F4F9FD;
    height: max-content;
    width: 100%;
}

.ml-150{
    margin-left: 150px;
}

.img-profile {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    margin-right: 16px;
   }

   .nb{
       margin-bottom: 0px;
   }

   .nb .small{
    font-size: 14px;
   }

    .small-1{
    font-size: 15px;
   }

.op-50{
    opacity: 0.5;
}

.img-budaya{
    width: 300px;
}