/* Mobile */
.carousel-item{
    padding: 100px 0px 0px 0px;
  }
  
  .carousel-indicators li{
    width: 8px;
    height: 8px;
    margin: 4px;
    background-clip: unset;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
    border-radius: 6px;
  }
  
  .carousel-indicators{
    margin-top: -50px;
  }
  
  .bg-banner{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 266px;
    width: 100%;
  }
  
  .fixed-top {
    background-color: white;
    text-align: center;
  }

  .bold{
    font-weight: 600;
  }

  .bg-right-blue, .bg-left-blue, .bg_left_blue, .bg-dot{
      display: none;
  }

  .sejarah-img{
      display: none;
  }

  .secondary{
    color: var(--secondary);
    font-weight: 600;
}
.mobile-left{
    text-align: center;
  }

.mobile-right{
    text-align: center;
  }

  .mobile-left img{
    width: 250px;
  }

.mobile-right img{
    width: 250px;
  }

  /* FAQ */
  .body-6 h1{
      margin-top: 20px;
  }
  .text-positions{
    margin-top: 30px;
    font-size: 16px;
    color: var(--secondary);
    font-weight: bold;
    text-align: left;
  }
  
  .text-positions-1{
    margin-top: 58px;
    font-size: 16px;
    color: var(--secondary);
    font-weight: bold;
    text-align: left;
  }
  
  header.nav-fixed {
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
  }
  
  .nav-active {
    background-color:black;   
  }
  
  .navbar-light .navbar-toggler-icon {
    background-image: url('/images/filter.png') !important;
  }
  
  .navbar-light .navbar-toggler {
    color: white;
    border-color: white;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: white;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: white;
  }
  
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
  }

.accordionItem {
    transition: all 0.4s;
    border-radius: 0.4rem;
    background-color: #F7F7F7;
    margin-top: 10px;
  }
  
  .accordionItem:first-child {
    margin-top: 0 !important;
  }
  
  .accordionItem:last-child {
    margin-bottom: 0 !important;
  }
  
  .accordionItem .header {
    display: flex;
    cursor: pointer;
    padding: 10px 0px 0px 10px;
    align-items: center;
    border-radius: 0.4rem;
    justify-content: space-between;
  }
  
  .accordionItem .header h3,
  .accordionItem .header i {
    pointer-events: none;
  }
  
  .accordionItem .header:hover {
    background-color: #F7F7F7;
  }
  
  .accordionItem .header i {
    font-size: 18px;
    margin-right: 15px;
  }
  
  .accordionItem .body {
    max-height: 0;
    overflow: hidden;
    margin-top: 0.5rem;
    transition: all 0.4s;
    margin-left: 1.5rem;
  }
  
  .accordionItem.active {
    margin: 10px 0px;
    background-color: #ECECEC;
  }
  
  .accordionItem.active .body {
    margin-top: 10px;
    max-height: 20rem;
    padding-bottom: 0.5rem;
  }
  
  .header-text{
    font-size: 24px;
    color: var(--secondary);
    line-height: 1;
  }
  
  .body-text{
    font-size: 24px;
    color: var(--secondary);
    font-weight: 600;
    line-height: 1.2;
  }
  
  .accordionItem.active .header {
    background-color: #F7F7F7;
  }
  
  .accordionItem.active .header i {
    transition: all 0.3s;
    transform: rotate(90deg);
  }

  .btn-faq{
    border-radius: 25px;
    background-color: #005DA6;
    color: white;
  }
  
  .btn-faq:hover{
    background-color: var(--secondary_hover);
    color: white;
  }

  /* Lokasi Kami */
  .btn-dropdown-lokasi{
    margin-left: 10px;
    background-color: white;
    border-radius: 25px;
  }
  
  .dropdown-header {
  border-radius: 20px;
  color: #9D9D9D;
  background-color: #ECECEC;
  }
  
  .dropdown-bottom {
    width: 210px !important;
    border-radius: 20px;
    color: black;
    background-color: #F7F7F7;
    margin-left: 10px;
    }
  
  .btn-search-lokasi{
    margin-left: 10px;
    border-radius: 25px;
    background-color: #005DA6;
    color: white;
  }
  
  .btn-search-lokasi:hover{
    background-color: var(--secondary_hover);
    color: white;
  }

  .card-lokasi{
    background-color: #F7F7F7;
    border-radius: 10px;
    width: 1000px;
    max-width: 100%;
    height: max-content;
    margin-top: 20px;
    padding: 25px 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .icon-card{
    background-color: #E6EFF6;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    text-align: center;
    padding: 18px;
    color: #005DA6;
  }

  .text-cabang{
  font-size: 24px;
  color: var(--secondary);
  font-weight: bold;
}

.text-alamat{
  font-size: 14px;
  color: var(--secondary);
}

.margin-15{
    margin-right: 15px;
    margin-left: 15px;
}

.margin-20{
    margin-right: 20px;
    margin-left: 20px;
}

.slick-prev {
    margin-right: 90px !important;
}

.slick-next {
margin-right: 20px !important;
}

.left-4{
    margin-left: 0;
}

.top-20{
    margin-top: 20px;
}

/* Slick */
.slick-prev{
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 100%;
    box-shadow: 0 1px 3px 0 rgba(32, 32, 32, 0.5);
    top: 94%;
    right: 0;
    left: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 200px;
    color: var(--secondary);
}

.slick-next{
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 100%;
    box-shadow: 0 1px 3px 0 rgba(32, 32, 32, 0.5);
    top: 94%;
    right: 0;
    left: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 125px;
    color: var(--secondary);
}
 /* the slides */
 .slick-slide {
	margin: 0 20px;
}
.slick-track{
    height: 350px;
    margin-left: 20px;
}

.btn-vacancies {
    text-align: center;
    background-color: #005da6;
    border-radius: 25px;
    width: max-content;
    color: white;
    padding: 10px;
    height: 50px;
  }  
  
    .btn-vacancies:hover{
      background-color: var(--secondary_hover);
      color: white;
    }

    .text-berkembang {
        font-size: 35px;
        font-weight: bold;
        text-align: center;
    }

    .text-potensi{
        font-size: 24px;
        font-weight: lighter;
        text-align: center;
        color: var(--about-2);
      }

      .inner-kata{
          width: 100%;
          background-color: #F7F7F7;
          padding: 20px;
          border-radius: 20px;
      }

      .inner-kata .col-lg-1{
        display: none;
      }

      .inner-kata img{
          position: absolute;
          bottom: 35px;
          right: 0;
        width: 200px;
    }
    .inner-kata .d-flex{
        display: block !important;
    }
    .inner-kata .d-flex p{
        width: 40%;
    }

    .caption-kata h1, h5{
        text-align: center;
    }

  /* Akhir Mobile */
  @media (min-width: 1280px) {  
    .caption-kata h1{
        color: white;
        font-weight: bold;
        text-align: left;
      }
      
      .caption-kata h5{
        color: white;
        font-weight: 600;
        text-align: left;
      }
    .inner-kata .d-flex{
        display: flex !important;
      }
    .card-kata-mereka{
          display: none;
    }
    .inner-kata .d-flex p{
        width: 100%;
    }
    .inner-kata img{
        position: relative !important;
        bottom: 0;
        width: 400px;
    }
    .slick-prev{
        margin-right: 200px !important;
    }

    .slick-next{
        margin-right: 120px !important;
    }
    .top-20{
        margin-top: 0;
    }
    
      .card-lokasi{
          background-color: white;
      }
    .left-4{
        margin-left: 1.5rem;
    }
    .dropdown-bottom {
        background-color: white;
        }
    .sejarah-img{
        display: block;
    }

    .mobile-left img, .mobile-right img{
        width: 100%;
      }

    .mobile-left{
    text-align: left;
  }
    .mobile-right{
    text-align: right;
  }

  .bg-right-blue, .bg-left-blue, .bg_left_blue, .bg-dot{
    display: block;
}

    .carousel-item{
        padding: unset;
    }

    .fixed-top {
        background-color: unset;
       }

    .nav-active {
        background-color:black;   
    }

    .bg-banner{
        position: absolute;
        left: 0px;
        right: 0px;
        top: unset;
        bottom: -60px;
        width: 100%; 
        max-width: 101%;
      }
    .bold{
        font-weight: bold;
    }

    .sejarah-img{
        width: 100%;
    }

    /* FAQ */
.body-6{
    padding: 40px;
    background-color: white;
    width: 100%;
    height: max-content;
    text-align-last: center;
  }
    }