/* Mobile */
@media (min-width: 390px) {
    /* Carousel */
    .carousel-indicators-1{
        bottom: unset;
        left: unset;
        display: unset;
        top: 50vh;
        margin-right: 5%;
      }
      
      .carousel-indicators-1 li{
        width: 8px;
        height: 8px;
        margin: 6px;
        background-clip: unset;
        border-bottom: 0px solid transparent;
        border-top: 0px solid transparent;
        border-radius: 6px;
      }
      
      .carousel-indicators-1 .active {
        opacity: 1;
        width: 18px;
      }
      
  }