@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
}

:root{
    --primary: #FFCA00;
    --primary_hover: #bd9700;
    --secondary: #005DA6;
    --secondary_hover: #07426e;
    --secondary-red:#E02020;
    --secondary-red_hover:#a50f0f;
    --neutral:#9D9D9D;
    --netural-2: #848489;
    --about: #272727;
    --about-2: #4D4D4D;
}

@media (min-width: 1650px) {
  .carousel-indicators{
    margin-right: 15% !important;
  }
}

@media (max-width: 1652px){
  .carousel-indicators-1 {
    top: 34vh !important;
}
.ml-15{
  margin-left: -30px !important;
}
.mt-10{
  margin-bottom: 110px !important;
}
}

  /* Card */
  .card{
    width: unset;
    height: 306px;
    padding: 20px;
    border-radius: 10px;
    background-color: #F6F8FD;
    border: 0px solid;
    box-shadow: 0 10px 14px 0 #E5E5E5;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .card:hover .card-hover{
    bottom:0;
    }
    
    .card-hover{
    color: white;
    background-color: var(--secondary);
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: all 0.5s;
    overflow: hidden;
    }
    
    .text-people-hover{
    margin-top: 24px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    }
    
    .text-artikel-hover{
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    }
    
    .text-positions-hover{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    }
    

.btn-play{
  position: absolute;
  padding: 18px 1px 18px 0px;
  top: 34%;
  left: 40%;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: var(--primary);
  color: white;
}

/* Desktop */
@media (min-width: 1280px) {
  .fixed-top {
   background-color: unset;
  }
  .bg-banner{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -60px;
    width: 101%; 
    max-width: 101%;
  }
    .navbar-brand,
    .nav-link {
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        color: white !important;
    }
    .nav-link {
        position: relative;
        padding-bottom: 8px;
        cursor: pointer;
        margin-right: 30px;
    }

    .nav-link::after{
      position: absolute;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      content: "";
      width: 0;
      height: 3px;
      background-color: var(--primary);
      transition: width 0.4s ease-out;
      border-radius: 30px;
    }

    .nav-link:hover::after {
        width: 60%;
    }
    
  .about{
    color: var(--about);
}
.about-2{
    color: var(--about-2);
}
.secondary{
    color: var(--secondary);
}
.white{
    color: white;
}


/* Navbar */
.nav-link {
  text-align: center;
}

/* Jumbotron */
.jumbotron{
  background-color: unset;
  padding: 0rem;
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
} 

/* Carousel */
.carousel-caption{
text-align: left;
margin-bottom: 30px;
}

.carousel-item{
  padding: unset;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-primary{
  width: 120px;
  border-radius: 20px;
  background-color: white;
  border-color: white;
  color: var(--secondary);
  font-weight: 600;
  align-self: center;
}

.btn-primary:hover{
  width: 120px;
  border-radius: 20px;
  background-color: var(--primary_hover);
  border-color: var(--primary_hover);
  color: white;
  font-weight: 600px;
}

.btn-secondary{
  width: 200px;
  border-radius: 20px;
  background-color: var(--primary);
  border-color:var(--primary);
  color: black;
  font-weight: 600px;
}

.btn-play{
  left: 53%;
}

.btn-vecancies{
  border-radius: 20px;
  background-color: #005DA6;
  color: white;
}

.katamereka{
  font-size: 35px;
  font-weight: 600;
  color: #4A3C00;
  text-align: left;
}

.caption-kata h1{
  color: white;
  font-weight: bold;
  text-align: left;
}

.caption-kata h5{
  color: white;
  font-weight: 600;
  text-align: left;
}

.caption-kata p{
  color: white;
  text-align: left;
  margin-left: -15px;
}

.inner-search{
  width: 300px;
  height: 40px;
  align-items: center;
  background-color: #ECECEC;
  color: #9D9D9D;
  display: flex;
  border-radius: 30px;
  padding: 20px;
}

.search-box{
  text-align: left;
  align-items: center !important;
  background-color: #ECECEC;
  color: #9D9D9D;
  font-weight: 600px;
  border: none;
  outline: none;
  padding-left: 10px;
}

.ml-11{
  margin-left: 110px;
}

.ml-12{
  margin-left: 92px;
}

.mt-6{
  margin-top: 90px;
}

.mt-8{
  margin-top: 180px !important;
}

.p-12{
  padding: 0px 100px 0px 100px !important;
}

.mt-12{
  margin-top: 1.8rem;
}

.mt-40{
  margin-top: 40px;
}

.mt-10{
  margin-top: 50px;
  margin-bottom: 210px;
}

.mt-19{
  margin-top: 260px;
}

.mt-11{
  margin-top: 354px;
}


.inner-kata{
  width: 1200px;
  height: max-content;
  display: flex;
  background-image: url("https://raw.githubusercontent.com/NicholassJP/E-Recruitment/main/images/bg_kata_alfanesia.png");
  background-repeat: no-repeat;
  border-radius: 50px 0px 50px 0px;
}

.center-container{
  text-align: -webkit-center;
}

.carousel-control-prev-icon {
position: absolute;
left: 160px;
}

.carousel-control-next-icon {
position: absolute;
right: 160px;
}

.caption-profile{
  font-weight: bold;
  font-size: 16px;
  line-height: 0.5;
  color: var(--secondary);
}

.caption-profile-2{
  font-size: 16px;
  line-height: 0.8;
  color: var(--secondary);
}

.caption-kata{
  transform: translateX(-3rem);
}

.carousel-indicators-1{
  bottom: unset;
  left: unset;
  display: unset;
  top: 50vh;
  margin-right: 5%;
}

.carousel-indicators-1 li{
  width: 8px;
  height: 8px;
  margin: 6px;
  background-clip: unset;
  border-bottom: 0px solid transparent;
  border-top: 0px solid transparent;
  border-radius: 6px;
}

.carousel-indicators-1 .active {
  opacity: 1;
  width: 18px;
}

.carousel-indicators li{
  width: 8px;
  height: 8px;
  margin: 6px;
  background-clip: unset;
  border-bottom: 0px solid transparent;
  border-top: 0px solid transparent;
  border-radius: 6px;
}

.carousel-indicators .active {
  opacity: 1;
  width: 18px;
}

.bold{
  font-weight: bold;
}

.text-header{
  font-size: 60px;
}

.text-header-2{
  font-size: 45px;
}

.display-4{
  font-weight: bold;
}

.yellow{
    color: var(--primary);
}

.body-4{
    position: relative;
    padding: 60px 0px 80px 0px;
    background-color: white;
    height: max-content;
    width: 100%;
    text-align: center;
    z-index: 1;
  }

.body-4::-webkit-scrollbar {
  display: none;
}

.text-berkembang{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.text-potensi{
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  color: var(--about-2);
}


.container-tim{
  padding: 50px 0px 0px 50px;
}

.text-people{
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

.icon-card{
  background-color: #E6EFF6;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  padding: 18px;
  color: #005DA6;
}

/* Lokasi Kami */
.body-5{
  padding: 80px;
  width: 100%;
  padding: 10px 0px 80px 0px;
  height: max-content;
  background: #C3EBFF;
}

.text-lokasi{
  font-size: 35px;
  text-align: center;
  color: var(--secondary);
  font-weight: bold;
}

.text-kerja{
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
  color: #6d7278;
  font-weight: 400;
}

.inner-form{
  background: white;
  padding: 20px 20px;
  width: 1060px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.btn-search{
  width: 100px;
  align-items: center !important;
  border-radius: 20px;
  background-color: #005DA6;
  color: white;
}

.btn-search:hover{
  background-color: #07426e;
  color: white;
}

.body-2{
  padding: 6px;
  position: relative;
  background-color: #F4F9FD;
  height: max-content;
  width: 100%;
}

.ml-150{
  margin-left: 150px;
}

.img-profile {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  margin-right: 16px;
 }

 .bg-right-blue{
   position: absolute;
   bottom: 57%;
   right: 0;
   width: 530px;
 }

 .bg-left-blue{
  position: absolute;
  bottom: 2%;
  width: 530px;
 }

 .bg-dot{
   position: absolute;
   left: 0;
   bottom: 50px;
   z-index: -999;
 }

 .nb{
     margin-bottom: 0px;
 }

 .nb .small{
  font-size: 14px;
 }

  .small-1{
  font-size: 15px;
 }

.op-50{
  opacity: 0.5;
}

.img-budaya{
  width: 300px;
}

.btn-job{
  width: 150px;
  align-items: center !important;
  border-radius: 20px;
  background-color: #E02020;
  color: white;
}

.btn-job:hover{
  background-color: #a50f0f;
  color: white;
}

.ml-9{
  margin-left: 40px;
}

.ml-10{
  margin-left: 80px;
}


.btn-dropdown-lokasi{
  margin-left: 10px;
  background-color: white;
  border-radius: 25px;
}

.dropdown-header {
border-radius: 20px;
color: #9D9D9D;
background-color: #ECECEC;
}

.dropdown-bottom {
  width: 210px !important;
  border-radius: 20px;
  color: black;
  background-color: white;
  margin-left: 10px;
  }

.btn-search-lokasi{
  margin-left: 10px;
  border-radius: 25px;
  background-color: #005DA6;
  color: white;
}

.btn-search-lokasi:hover{
  background-color: var(--secondary_hover);
  color: white;
}

.btn-faq{
  border-radius: 25px;
  background-color: #005DA6;
  color: white;
}

.btn-faq:hover{
  background-color: var(--secondary_hover);
  color: white;
}

  .btn-vacancies:hover{
    background-color: var(--secondary_hover);
    color: white;
  }

.card-lokasi{
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 1180px;
  height: 113px;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.text-cabang{
  font-size: 24px;
  color: var(--secondary);
  font-weight: bold;
  margin-top: 30px;
}

.text-alamat{
  font-size: 16px;
  color: var(--secondary);
}

/* Akhir Lokasi Kami */

/* FAQ */
.body-6{
  padding: 40px;
  background-color: white;
  width: 100%;
  height: max-content;
  text-align-last: center;
}

.text-positions{
  margin-top: 30px;
  font-size: 16px;
  color: var(--secondary);
  font-weight: bold;
  text-align: left;
}

.text-positions-1{
  margin-top: 58px;
  font-size: 16px;
  color: var(--secondary);
  font-weight: bold;
  text-align: left;
}

header.nav-fixed {
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
}

.nav-active {
  background-color:black;   
}

.navbar-light .navbar-toggler-icon {
  background-image: url('/images/filter.png') !important;
}

.navbar-light .navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: white;
}



/* Slick */
.slick-prev{
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 100%;
    box-shadow: 0 1px 3px 0 rgba(32, 32, 32, 0.5);
    top: 94%;
    right: 0;
    left: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 200px;
    color: var(--secondary);
}

.slick-next{
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 100%;
    box-shadow: 0 1px 3px 0 rgba(32, 32, 32, 0.5);
    top: 94%;
    right: 0;
    left: 150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 125px;
    color: var(--secondary);
}
 /* the slides */
 .slick-slide {
	margin: 0 20px;
}
.slick-track{
    height: 350px;
}
.ml-20{
    margin-left: 170px;
}

/* FAQ */

.accordionItem {
  transition: all 0.4s;
  border-radius: 0.4rem;
  background-color: #F7F7F7;
  margin-top: 10px;
}

.accordionItem:first-child {
  margin-top: 0 !important;
}

.accordionItem:last-child {
  margin-bottom: 0 !important;
}

.accordionItem .header {
  display: flex;
  cursor: pointer;
  padding: 10px 0px 0px 10px;
  align-items: center;
  border-radius: 0.4rem;
  justify-content: space-between;
}

.accordionItem .header h3,
.accordionItem .header i {
  pointer-events: none;
}

.accordionItem .header:hover {
  background-color: #F7F7F7;
}

.accordionItem .header i {
  font-size: 18px;
  margin-right: 15px;
}

.accordionItem .body {
  max-height: 0;
  overflow: hidden;
  margin-top: 0.5rem;
  transition: all 0.4s;
  margin-left: 1.5rem;
}

.accordionItem.active {
  margin: 10px 0px;
  background-color: #ECECEC;
}

.accordionItem.active .body {
  margin-top: 10px;
  max-height: 20rem;
  padding-bottom: 0.5rem;
}

.header-text{
  font-size: 24px;
  color: var(--secondary);
  line-height: 1;
}

.body-text{
  font-size: 24px;
  color: var(--secondary);
  font-weight: 600;
  line-height: 1.2;
}

.accordionItem.active .header {
  background-color: #F7F7F7;
}

.accordionItem.active .header i {
  transition: all 0.3s;
  transform: rotate(90deg);
}

.ml-20{
  margin-left: 180px;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

/* Vacancies */
.vacancies-text{
  margin-top: 100px;
  text-align: center;
}

.vacancies-text h1{
  font-size: 35px;
  font-weight: bold;
  color: #4D4D4D;
}

/* Card */
.card{
  width: 380px;
  margin-left: 20px;
  margin-bottom: unset;
  overflow: hidden;
}

/* Seleksi alfamart */
.text-seleksi{
font-size: 40px;
font-weight: 600;
}

.mouse{
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 25px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 20px;
  display: flex;
}

.mouse-wheel{
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}
@keyframes move-wheel {
  0%{
    opacity: 0;
    transform: translateY(-1rem);
  }
  100%{
    opacity: 1;
    transform: translateY(1rem);
  }
}
}

/* Container XL */
@media (min-width: 576px){
  .container-xl {
      max-width: 540px;
  }
  }

  @media (min-width: 768px){
      .container-xl {
          max-width: 720px;
      }
      }
  

@media (min-width: 992px){
.container-xl {
  max-width: 960px;
}
}

@media (min-width: 1200px){
  .container-xl {
      max-width: 1440px;
      }
  }

.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
