@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}
:root{
    --primary: #FFCA00;
    --primary_hover: #bd9700;
    --secondary: #005DA6;
    --secondary-red:#E02020;
    --neutral:#9D9D9D;
    --netural-2: #848489;
    --about: #272727;
    --about-2: #4D4D4D;
  }

  .about{
      color: var(--about);
  }
  .about-2{
      color: var(--about-2);
  }
  .secondary{
      color: var(--secondary);
  }
  .white{
      color: white;
  }
  

/* Navbar */
.nav-link {
    text-align: center;
}

/* Jumbotron */
.jumbotron{
    background-color: unset;
    padding: 0rem;
}

.jumbotron-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
}

/* Carousel */
.carousel-caption{
text-align: left;
margin-bottom: 250px;
padding-bottom: 0px;
}

.carousel-item{
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.btn-primary{
    width: 120px;
    border-radius: 20px;
    background-color: white;
    border-color: white;
    color: var(--secondary);
    font-weight: 600px;
    align-self: center;
}

.btn-primary:hover{
    width: 120px;
    border-radius: 20px;
    background-color: var(--primary_hover);
    border-color: var(--primary_hover);
    color: white;
    font-weight: 600px;
}

.btn-secondary{
    width: 200px;
    border-radius: 20px;
    background-color: var(--primary);
    border-color:var(--primary);
    color: black;
    font-weight: 600px;
}

.btn-play{
    position: absolute;
    top: 34%;
    left: 53%;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background-color: var(--primary);
    color: white;
}

.katamereka{
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.inner-kata{
    width: 80%;
    padding: 5rem;
    align-items: center;
    display: flex;
    background-color: white;
    margin-left: 100px;
    border-radius: 40px 5px 40px 5px;
}

.inner-img-kata{
    width: 278px;
    height: 282px;
    border-radius: 32px 0px 32px 0px;
    transform: translateX(-10rem);
}

.caption-profile{
    font-weight: bold;
    font-size: 16px;
    line-height: 0.5;
    color: var(--secondary);
}

.caption-profile-2{
    font-size: 16px;
    line-height: 0.8;
    color: var(--secondary);
}

.caption-kata{
    transform: translateX(-3rem);
}

.mt-40{
    margin-top: 40px;
}

.w-100 {
	height: 100vh;
}

.carousel-indicators{
    bottom: unset;
    left: unset;
    display: unset;
    top: 50vh;
}

.bold{
    font-weight: bold;
}

.carousel-indicators li{
    width: 8px;
    height: 8px;
    margin: 6px;
    background-clip: unset;
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
    border-radius: 6px;
}

.carousel-indicators .active {
    opacity: 1;
    width: 16px;
}


.text-header{
    font-size: 60px;
}

.text-header-2{
    font-size: 45px;
}

.display-4{
    font-weight: bold;
}

.body-3{
    padding: 60px;
    position: relative;
    background-color: var(--primary);
    height: max-content;
    width: 100%;
}

header.nav-fixed {
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
}

.nav-active {
    background-color:black;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('/images/filter.png') !important;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.yellow{
    color: #FFD63C;
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

/* Desktop */
@media (min-width: 1400px) {
    .navbar-brand,
    .nav-link {
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        color: white !important;
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: "";
        display: block;
        border-bottom: 3px solid var(--primary);
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}
